@import '../../../constants/variables.scss';

.product-card {
  .container__cell {
    width: 50%;

    &:last-child {
      padding-left: 25px;
    }
  }

  &__name {
    color: $gray-color;
    font-family: "Noto Sans";
    font-size: 15px;
    line-height: 25px;
  }

  &__title {
    color: $black-color;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  &__costs {
    display: flex;
  }

  &__price, &__discount, &__currency {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    color: $active-color
  }

  

  &__currency, &__discount {
    color: $black-color
  }

   

  &__discount {
    opacity: 0.5;
    margin-left: 25px;
  }

  &__button-set {
    display: flex;
    padding: 20px 0px 50px;
    width: 90%;
    justify-content: space-between;

    .btn {
      width: 48%;
      justify-content: center;
    }
  }
}