@import '../../constants/variables.scss';

.color-element {
  padding: 0;
  display: block;
  width: 50px;
  height: 62px;
  border: 2px solid transparent;
  cursor: pointer;
  margin-right: 10px;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  &:hover, &.active {
    border-color: $active-color;
  }

  &.inactive {
    pointer-events: none;
    opacity: 0.5;
  }
}