@import '../../../../constants/variables.scss';

.categories {
  position: relative;
  padding-top: 46px;
  height: 100%;
  box-shadow: 0 -3px 10px #0005;

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__tools {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 10px;
    background-color: $main-dark-color;

    &-btn {
      @include button;
    }
  }
}
